.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
  font-size: 1.5rem;
}

.reactMarkDown ul li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}
.reactMarkDown h1 {
  font-size: 2.8rem;
  margin-top: 1.5em;
  margin-bottom: 0.5em;

  color: rgb(253 224 71 / var(--tw-text-opacity));
}
.reactMarkDown code {
  display: flex;
  font-size: 1.3rem;
  margin-top: 2em;
  margin-bottom: 2em;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: wrap;

  background-color: RGB(15, 23, 42);
  margin: 5px;
  padding: 30px 20px;
  border-style: solid;

  border-color: rgb(253 224 71 / var(--tw-text-opacity));
  border-radius: 10px;
  
}
.reactMarkDown p {
  font-size: 1.5rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.reactMarkDown img {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .reactMarkDown p {
    font-size: 1.2rem;
  }
  .reactMarkDown h1 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .reactMarkDown ul li {
    font-size: 1.2rem;
    margin-left: 1em;
  }
  .reactMarkDown img {
    padding: 0;
  }

  .reactMarkDown code{
    padding: 30px 20px;
    font-size: 1rem;
  }
}
